body{
    background-color: rgba(0, 0, 0,0);
    padding: 15px;
}

.tweet{
    border-radius: 5px;
    background-color: rgb(210,210,210);
    height: 90px;
}

img{
    border-radius: 5px;
}

.tweet-text{
    text-align: left;
    font-family: "Zilla Slab";
}

.panel{
    box-shadow: 4px 4px 7px rgba(0, 0, 0, .2);
    padding: 8px;
}

.tweet-header{
    float: right;
    font-size: xx-small;
    margin-top: 2px;
}

.tweet-author{
    font-size: 15px;
    float: left;
    font-family: "Roboto Condensed";
}

.tweet-time{
    font-size: 10px;
    margin-left: 3px;
}

@font-face{
    font-family: "Dosis";
    src: url("../fonts/Dosis/Dosis-Bold.ttf") format("truetype");
}

@font-face{
    font-family: "Roboto Condensed";
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face{
    font-family: "Zilla Slab";
    src: url("../fonts/Zilla_Slab/ZillaSlab-Medium.ttf") format("truetype");
}

.embed-img{
    position: fixed;
    left: 468px;
    top: 90px;
    font-size: 10px;

}