body{
    background-color: rgba(0, 0, 0,0);
    padding: 15px;
}

.tweet{
    border-radius: 5px;
    background-color: rgb(210,210,210);
    height: 90px;
}

img{
    border-radius: 5px;
}

.tweet-text{
    text-align: left;
    font-family: "Zilla Slab";
}

.panel{
    box-shadow: 2px 5px 9px rgba(0, 0, 0, .5);
    padding: 8px;
    margin-bottom: 4px;
    position: relative;
}

.tweet-header-right{
    float: right;
    font-size: xx-small;
    margin-top: 2px;
}

.tweet-header-left{
    font-size: 15px;
    float: left;
    font-family: "Roboto Condensed";
}

#tweet-time{
    color: rgb(165, 165, 165);
}

@font-face{
    font-family: "Dosis";
    src: url("../fonts/Dosis/Dosis-Bold.ttf") format("truetype");
}

@font-face{
    font-family: "Roboto Condensed";
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face{
    font-family: "Zilla Slab";
    src: url("../fonts/Zilla_Slab/ZillaSlab-Medium.ttf") format("truetype");
}

.embed-img{
    position: absolute;
    left: 442px;
    top: 80px;
    font-size: 10px;
    color: rgb(165, 165, 165)

}


::-webkit-scrollbar {     
        background-color: #fff;
        width: .8em
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
        background:  black
}